
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;

}

header {
	justify-content: space-evenly;
	display: flex;
	width: 90%;
	height: 10vh;
	align-items: center;
}

.logo-container,
.nav-links,
.blank{
	display: flex;
}

.logo-container {
	flex: 1;

}
.logo {
	font-weight: 600;
	font-size: 23px;
	margin: 5px;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
	
}
.nav-link {
	color: #6d6767;
	font-size: 22px;
	text-decoration: none;
}
.nav-link:hover{
	color:rgb(240, 105, 105);
	font-size:25px;
}



.carousel-item{
	height:90vh;
	min-height:100px;
	background:no-repeat center center scroll;
	-webkit-background-size:cover;
	background-size:cover;
}


#About us{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
span{
	color:rgb(235, 31, 109);
}
.section-content{
	text-align: center;
}
.text-section{
  text-align: center;
	font-size: 3rem;	
}
.img-rollar{
	height:245px;
}
.about-text{
	padding:2px;
	padding-left:50px;
	padding-right:50px;
	margin:0px;
	font-size:20px;
	text-align: justify;
	 text-decoration: rgb(8, 9, 24);
	line-height: 2em;
	
}


 







